<VBox size="400,800" name="container">
	<Icon name="logo" image="gui/icons/logomenu.png" />
	<VBox name="menu">
		<Icon name="newbutton" image="gui/icons/buttons/new2.png" />
		<Icon name="loadbutton" image="gui/icons/buttons/load2.png" />
		<Icon name="savebutton" image="gui/icons/buttons/save2.png" />
		<Icon name="settingsbutton" image="gui/icons/buttons/settings2.png" />
		<Icon name="aboutbutton" image="gui/icons/buttons/about2.png" />
		<Icon name="exitbutton" image="gui/icons/buttons/exit2.png" />
		<Icon image="gui/icons/buttons/new.png" />
		<Icon image="gui/icons/buttons/load.png" />
		<Icon image="gui/icons/buttons/save.png" />
		<Icon image="gui/icons/buttons/settings.png" />
		<Icon image="gui/icons/buttons/about.png" />
		<Icon image="gui/icons/buttons/exit.png" />
	</VBox>
</VBox>
