<?xml version='1.0' encoding='UTF-8'?>
<Settings>
  <Module name="map">
    <Setting name="dynamicnpcs" type="bool">True</Setting>
    <Setting name="npclist" type="str">actor-bob : bob ; actor-jim : jim ; actor-alex : alex ; actor-andy : andy ; actor-dean : dean ; actor-mark : mark ; actor-sam : sam ; actor-will : will</Setting>
    <Setting name="usewaypoints" type="bool">True</Setting>
    <Setting name="waypoints" type="str">-2,1 ; 1,1 ; 11,1 ; 22,1 ; -2,6 ; 11,6 ; 22,6 ; -2,10 ; -2,20 ; -8,20 ; -8,10 ; -8,0 ; -2,-10 ; -8,-10 ; -2,-20 ; -8,-20 ; -2,-30 ; -8,-30</Setting>
    <Setting name="useevents" type="bool">True</Setting>
    <Setting name="eventslist" type="str">events/zsc-test-5.test-event-1.xml</Setting>
    <Setting name="useobjects" type="bool">True</Setting>
    <Setting name="objectlist" type="str">items/zsc-test-5.parkingmeter-1.xml ; items/zsc-test-5.parkingmeter-2.xml ; items/zsc-test-5.train-door-1.xml</Setting>
    <Setting name="loadsounds" type="bool">True</Setting>
    <Setting name="sounds" type="str">ambient</Setting>
    <Setting name="hasmap" type="bool">True</Setting>
    <Setting name="map" type="str">gui/icons/images/testmap1.png</Setting>
  </Module>
  <Module name="sounds">
    <Setting name="ambient" type="str">file : music/forestAmbient1.ogg ; looping : True ; play : True ; fade : True</Setting>
  </Module>
</Settings>
