<?xml version='1.0' encoding='UTF-8'?>
<Settings>
  <Module name="map">
    <Setting name="dynamicnpcs" type="bool">True</Setting>
    <Setting name="npclist" type="str">actor-bob : bob ; actor-jim : jim ; actor-alex : alex ; actor-andy : andy ; actor-dean : dean ; actor-mark : mark ; actor-sam : sam ; actor-will : will</Setting>
  </Module>
</Settings>
